<a href="https://colab.research.google.com/github/gauravtech09/FirstRepo/blob/main/FirstTestProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Text Area where we can have any instructions, similar to Comment initially. It will take some time initially to run program, as it will prepare the enviornment.

In [164]:
import random
print('Hello! Shreyansh this side')
print("Welcome to Operation Learner for Kids")
random_float = random.random();
#print(random_float)
print("1st Random is :")
print(random_float*150 // 1)
num1=random_float*150 // 1

random_float = random.random();
print("2nd Random is :")
print(random_float*100 // 1)
num2=random_float*100 // 1

print("Sum is", num1 + num2)
print("Product is",num1 * num2)

if num2<num1:
    print("Difference is", num1 - num2)
else:
    print("Subtraction is not possible")

if num1/num2 == num1/num2//1:
    print("Quotient is", num1/num2)
else:
    print("Quotient is not possible")

Hello! Shreyansh this side
Welcome to Operation Learner for Kids
1st Random is :
3.0
2nd Random is :
97.0
Sum is 100.0
Product is 291.0
Subtraction is not possible
Quotient is not possible

In [25]:
 print('Hello World!')
 print("Helloo This is second Line")
 print(222)
 print(2+2)
 print(1,2,3333)
 x=3
 y =4
 name = 'Gaurav Agarwal'
 print(x+y)
 print(12, 23, 'good')
 print(type(x))
 print(type(y))
 print(type(x+y ))
 print(type(name))

Hello World!
Helloo This is second Line
222
4
1 2 3333
7
12 23 good
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

Naming conventions for variables
1. Rule1 : names are case sensitive
2. Rule2 : names can't be sensitive
3. Rule3 : name has to start with character or _
4. Rule4 : Allowed characters A-Z, a-z, 0-9

In [26]:
val = 2;  print(type( val))
val = 2.2;  print(type( val))
val = True;  print(type( val))
val = 'True';  print(type( val))
val = 2+3j;  print(type( val))
val = "My name is Gaurav Agarwal";  print(type(val))
# String slicing
print(val[1]); print(val[0:10]);
print(val[:17]);  print(val[2:]);

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'str'>
y
My name is
My name is Gaurav
 name is Gaurav Agarwal

In [31]:
var1 = 12
var2 = 24
print("Addition ",var1+var2)
print("Subraction ",var1-var2)
print("Multiplication ",var1*var2)
print(var1/var2);  # Division operator
print("Floor ",var1//var2); # Floor operator
print(var1%var2)
print(var1**var2);  print(2**8); # Exponential operator

Addition  36
Subraction  -12
Multiplication  288
0.5
Floor  0
12
79496847203390844133441536
256

In [36]:
x = 5;  y = 7;
z = x + y;
print(z);
if (x != y):
    print("Not Equal")
else:
    pass # Add code to handle the else condition here
    print(" Equal")

12
Not Equal